:root {
    --bg-primary: #FFC107;
    --bg-background: #F0F0F0;
    --dark: #353535;
    --dark-tint: #8f8f8f;
    --light: #96afb8;
    --danger: #dc3545;
    --font-small: 0.8em;
    --text-slate-400: rgb(148 163 184);
    --text-slate-500: rgb(100 116 139);
    --text-slate-600: rgb(71 85 105);
    --card-border: 12px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-background);
}

.custom-nav-brand {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.text-dark {
    color: color-mix(in srgb, white 20%, black);
}

.nav-wrapper {
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
}

a.nav-brand img{
    height: 40px;
}

.nav-link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link-item {
    text-decoration: none;
    color: color-mix(in srgb, white 20%, black);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    -webkit-transition: background-color .5s ease-in-out, color .3s ease-in-out;
    -moz-transition: background-color .5s ease-in-out, color .3s ease-in-out;
    -o-transition: background-color .5s ease-in-out, color .3s ease-in-out;
    transition: background-color .5s ease-in-out, color .3s ease-in-out;
}

.nav-link-item:hover {
    background-color: var(--bg-primary);
    color: white;
}

.nav-link-item.active {
    background-color: var(--bg-primary);
    color: white;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-menu-item i {
    font-size: 14px;
    color: color-mix(in srgb, white 20%, black);
}

.nav-menu-item i:hover {
    font-size: 14px;
    color: black;
}

.main-content {
    padding: 1rem 3rem;
}

.img-slider-item {
    height: 500px;
    object-fit: contain;
}

.section-title {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--dark);
    border-bottom: 3px solid var(--dark);
}

.page-title {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.card-product {
    width: 220px;
    height: 276px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    gap: 0.5rem;
    cursor: pointer;
}

.card-product img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}

.card-product .product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 5px;
}

.product-info .product-name {
    font-size: 1em;
    color: var(--dark);
    font-weight: 600;
    margin-bottom: 0;
}

.product-info .product-specification {
    font-size: 0.7em;
    color: var(--dark-tint);
    margin-bottom: 0;
}

.product-info .product-price {
    font-size: 1.25em;
    color: var(--bg-primary);
    width: 100%;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
}

.breadcrumb {
    padding: 0.75rem 1rem;
    background-color: transparent;
    align-items: center;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    text-decoration: none !important;
    color: var(--dark) !important;
    font-size: 0.8rem;
    font-weight: 600;
}

.breadcrumb-item.active {
    text-decoration: none !important;
    color: var(--dark-tint) !important;
    font-weight: 500;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    align-self: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    content: "\203A";
    /*font-weight: bold;*/
    color: var(--dark-tint);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    align-self: center;
}

.breadcrumb-item.active::before {
    font-weight: normal !important;
}
