:root {
    --bg-primary: #0A6847;
    --text-slate-400: rgb(148 163 184);
    --text-slate-500: rgb(100 116 139);
    --text-slate-600: rgb(71 85 105);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper {
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
}

a.nav-brand img{
    height: 40px;
}
